body {
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
}
.line-1 {
  text-align: center;
}
.description1 {
  margin: 30px;
}
.description2 {
  text-align: center;
  margin: 40px;
}
.temperature {
  font-size: 35px;
  text-align: center;
}
.weather-d {
  text-align: center;
  margin-bottom: 10px;
}
.uv-index {
  text-align: center;
}
li {
  list-style: none;
}
button {
  border-radius: 30px;
  margin: 10px;
  padding: 7px;
}
button:hover {
  transition: all 0.7s ease-out;
  background: lightpink;
}
.button1 {
  text-align: right;
  margin: 10px;
}
.forecast {
  text-align: center;
  margin: auto;
  margin-top: 30px;
}

form {
  margin: 20px;
}
